body {
  margin-top:0;
}
header {
  display: flex;
  align-items:center;
  height:60px;
  background-color: #498699;
  margin:0px 100px 8px 100px;
}

h1 {
  margin-right: auto;
  margin-left:40px;
}
main {
  width:960px;
  margin: 25px auto 40px;
}

.ReactModal__Body--open {
    overflow: hidden;
    background-color: #cccccc;
}

#username {
  box-sizing: content-box;
  position: relative;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  font: normal 16px/normal "Comic Sans MS", cursive, sans-serif;
  color: rgba(0,0,0,0.9);
  text-overflow: clip;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#userNameForm {
  margin: 30px auto 0;
  width: 60%;
  height:60%;
}

#main-flex-container {
  display: flex;
  width: 880px;
  height:350px;
  margin-bottom: 20px;
  text-align: left;
}

#chat {
  border:1px solid black;
  width: 450px;
  height:100%;
  overflow:auto;
  margin-left: 20px;
}

#roomSelector {
  border:1px solid black;
  width: 200px;
}

#name-display {
  margin-left: auto;
  margin-right:100px;
}

.roomOption {
  width: 100%;
  display: block;
  cursor:cell;
}

.selectedRoom {
  background-color: blue;
  color: white;
}

.modal-overlay {
  background-color: #ffffff;
  box-shadow: 0px 3px 10px #221919;
  border-radius: 6px;
  position: fixed;
  top:180px;
  left:520px;
  height:120px;
  width:400px;
  margin: 0 auto;
}

.modal-content {
  width:100%;
  height:100%;
}

#userNameSubmit {
  position:absolute;
  left:150px;
  width:100px;
  margin: 8px auto;
}

#message {
  width : 280px;
}

input:disabled {
  background-color: #cccccc;
}
