header {
  text-align: center;
  background-color: #498699;
}

#username {
  box-sizing: content-box;
  position: relative;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  font: normal 16px/normal "Comic Sans MS", cursive, sans-serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
}

#chat {
  text-align: left;
  border:1px solid black;
  height: 200px;
  width: 50%;
  display: inline-block;
}


#message {
  width : 280px;
}
